<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>IDESIE</title>
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>

<body>
    <div id="contenedor">
        <header>
            <div id="Titulo">
                <h3>Drop files here</h3>
            </div>
        </header>
        <nav>
            <input type="file" id="files" name="files[]" multiple />
            <output id="list"></output>
        </nav>
    </div>
    
</body>